.page,
.page-body {
    height: 100%;
}

.page-body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.aside-wrapper {
    display: inline-block;
}

.main-wrapper {
    flex-wrap: wrap;
    justify-content: center;
}

.accent-color {
    color: cornflowerblue;
}

.aside-list {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.aside-list-item {
    display: block;
    flex-wrap: wrap;
    font-size: 25px;
    align-content: flex-start;
}

.list-link {
    display: flex;
    text-decoration: none;
    color: #495863;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    padding-left: 44px;
    padding-bottom: 52px;
    align-content: flex-start;
}

.content {
    display: inline-block;
    flex-direction: column;
    /*width: calc(100% - 200px);*/
    margin-left: auto;
    margin-right: auto;
    width: 892px;
}

.page-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 115px;
    align-content: stretch;
    background-color: #35444F;
}

.list {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.list-item {
    display: inline;
    flex-wrap: wrap;
    font-size: 25px;
}

.header-list-link {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    line-height: 28px;
}

.section-description {
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #373737;
    margin-top: 37px;
    margin-bottom: 37px;
}

.figure {
    display: flex;
    justify-content: center;
    border: 2px solid cornflowerblue;
    margin-top: 50px;
}

.aside-wrapper {
    display: inline-block;
    vertical-align: top
}

.aside-menu {
    display: inline-block;
    flex-direction: column;
    border: 2px solid cornflowerblue;
    vertical-align: top;
    width: 304px;
    margin-top: 50px;
    margin-right: 30px;
}

.aside-list {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.aside-list-item {
    display: block;
    flex-wrap: wrap;
    font-size: 25px;
    align-content: flex-start;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    vertical-align: center;

}

.footer-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.footer-list-item {
    font-size: 25px;
}

.footer-list-link {
    text-decoration: none;
    color: #0C1927;
    font-size: 24px;
    line-height: 28px;
    padding-left: 40px;
}

.copyright-info {
    margin-right: 40px;
    color: #0C1927;
    font-size: 24px;
    line-height: 28px;
    padding-left: 40px;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    background-color: #63696E;
}

.logo-part {
    display: flex;
    justify-content: space-between;
}

body.dark {
    background-color: rgb(30,34,39);
    color: #fff;
}
body.dark p ,
body.dark .top-logo a{
    color: white;
}
body.dark .left-menu,
body.dark .right-menu{
    border: 1px solid white;
}
body.dark .left-menu ul li a {
    color: gray;
}
#btn {
    position: fixed;
    top: 30px;
    right: 40px;
}