.content{
   margin: 10px;
}
input:focus{
   outline: green 2px solid ;
   outline-offset: 2px;
}
.onBlurLine{
   outline: red 2px solid;
   outline-offset: 2px;
}
span {
   display: inline-block;
   margin: 10px 5px;
   padding: 5px 10px;
   border: 1px solid #000;
   border-radius: 40px;
   cursor: pointer;
}
span::after {
   border: 1px solid #000;
   border-radius: 50px;
   content: 'x';
   padding: 1px 5px ;
}